@using WebApplication1616.Models
@model TASK1
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> welcome to homepage</title>
</head>
<body>
    <h1>welcome to homepage</h1>
</body>
</html>
