@using WebApplication1616.Models
@model Model
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Bootstrap 5 Forgot Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="login-form bg-light mt-4 p-4 row g-3">
                    @using (Html.BeginForm())
                    {
                        <h4>Forget Password</h4>
                        <div class="col-12">
                            <label>EmailID</label>
                            @Html.TextBoxFor(model => model.EMAILID , new { @class = "form-control", placeholder="Enter EmailID"})
                        </div>
                        <div class="col-12">
                            <input type="submit" value="Reset Password" class="btn btn-dark float-end" />

                        </div>
                    }
                    <hr class="mt-4">
                    <div class="col-12">
                        <p class="text-center mb-0">Have not account yet? @Html.ActionLink("sign up","Register","Student") </p>
                    </div>
                    <div class="col-12">
                        <p class="text-center mb-0">  @Html.ActionLink("Login","Login","Student") </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>
