@model WebApplication1616.Models.STDMODEL
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DELETEDATA</title>
</head>
<body>
    <h1>deletedata</h1>
</body>
</html>
