
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Home</h1>
<div>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }

</div>


