
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LOGOUT</title>
</head>
<body>
    <h3>logout from your account successfully.</h3>
</body>
</html>
