
@{
    ViewData["Title"] = "StoreData";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    
}

<h1>StoreData</h1>
<p>ViewData Example : @ViewData["vd"]</p>
<p>ViewBag Example : @ViewBag.vb</p>
<p>TempData Example : @TempData["td"]</p>
