
@{
    ViewData["Title"] = "ExonViewData";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>ExonViewData</h1>
 
    <h1>data</h1>
    <p>ViewData Example : @ViewData["vd"]</p>
    <p>ViewBag Example : @ViewBag.vb</p>
    <p>TempData Example : @TempData["td"]</p>


